*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    overflow-x: hidden;
}
#string{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 100vw;
    height: 100vh;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
}