*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#p1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#p2{
    height: 100%;
    width: 100%;
    background-color: rgb(153, 255, 0);
}
#p2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
#p3{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}